:root {
    --pmr-color: greenyellow;
    --blue: #20639b;
    --yellow: #f6d55c;
    --red: #ed553b;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #121212;
}

::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-thumb {
    background: var(--pmr-color);
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    border: 2px solid var(--pmr-color);
    border-radius: 20px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}